<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Julia Bergiel '22 and Yaa Owusu '22">
    <meta name="description" content="Spissues 2020, design based on 2019 Year in Review and 2014 HY site">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="public/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://d6uhzlpot4xwe.cloudfront.net/runtime/1.22/base-fonts.gz.js"></script>
    <script src="https://d6uhzlpot4xwe.cloudfront.net/runtime/1.22/font-subgroup-kits/ltc-bodoni-175.gz.js"></script>
    <script src="https://d6uhzlpot4xwe.cloudfront.net/runtime/1.22/font-subgroup-kits/acumin-pro-semi-condensed.gz.js"></script>
    <script src="https://d6uhzlpot4xwe.cloudfront.net/runtime/1.22/typekit-load.gz.js"></script>
    <link href="https://d6uhzlpot4xwe.cloudfront.net/runtime/1.22/runtime.gz.css" type="text/css" rel="stylesheet">

    <title>Yale Daily News: Spissues 2020</title>
</head>
<body>
    <header id="site-header">
    <a href="/"> <!-- Links back to landing page -->
      <h1 class="masthead-logo">Yale Daily News</h1>
    </a>
    <nav id="site-navigation">
      <div id="scale">
        <a id="small-logo" href="https://yaledailynews.com/">
          <h1 class="small-logo">ydn</h1>
        </a>
      </div>
    </nav>
  </header>

  <header id="mobile-header">
    <img id="mobile-nameplate" src="https://ydn-wpengine.netdna-ssl.com/wp-content/themes/ydnlabs/css/images/YDN Nameplate Medium.gif">
    <script>
      $('#mobile-nameplate').click(function() {
        window.location = "/" /*Links back to landing page*/
      })
    </script>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div id="bar_nav" style="border-top: 1px solid #D3D3D3;"><a href="/news">News</a></div>
      <div id="bar_nav"><a href="/sports">Sports</a></div>
      <div id="bar_nav"><a href="/opinion">Opinion</a></div>
      <div id="bar_nav"><a href="/wknd">WKND</a></div>
    </div>
    <div id="shift">
      <span class= "bars" style="font-size:8vw;cursor:pointer; color:black;" onclick="openNav()">&#9776;</span>
    </div>
  </header>

  {{{body}}}

    <div class="bottom-foot-wrap">
    <footer id="site-footer">
      <a href="https://yaledailynews.com/commencement2020/about-the-issue/">About The Issue</a>
      <a href="#">&copy; Yale Daily News <?php echo date("Y"); ?> </a>
    </footer>
  </div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>

</body>
</html>
