<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="public/style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script src="https://d6uhzlpot4xwe.cloudfront.net/runtime/1.22/base-fonts.gz.js"></script>
    <script src="https://d6uhzlpot4xwe.cloudfront.net/runtime/1.22/font-subgroup-kits/ltc-bodoni-175.gz.js"></script>
    <script src="https://d6uhzlpot4xwe.cloudfront.net/runtime/1.22/font-subgroup-kits/acumin-pro-semi-condensed.gz.js"></script>
    <script src="https://d6uhzlpot4xwe.cloudfront.net/runtime/1.22/typekit-load.gz.js"></script>
    <link href="https://d6uhzlpot4xwe.cloudfront.net/runtime/1.22/runtime.gz.css" type="text/css" rel="stylesheet">

    <title>Yale Daily News: Spissues 2020</title>
</head>
<body>
    <header id="site-header">
    <a href="https://yaledailynews.com/">
      <h1 class="masthead-logo">Yale Daily News</h1>
    </a>
    <nav id="site-navigation">
      <div id="scale">
        <a id="small-logo" href="https://yaledailynews.com/">
          <h1 class="small-logo">ydn</h1>
        </a>
      </div>
    </nav>
  </header>

  <header id="mobile-header">
    <a href="#" class="menu-link fa fa-bars fa-lg"></a>
    <img id="mobile-nameplate" src="https://ydn-wpengine.netdna-ssl.com/wp-content/themes/ydnlabs/css/images/YDN Nameplate Medium.gif">
    <script>
      $('#mobile-nameplate').click(function() {
        window.location = "https://yaledailynews.com/"
      })
    </script>
  </header>
    {{{body}}}

</body>
</html>
