<style>
  body, html {
  height: 100%;
  margin: 0;
  font-family: ltc-bodoni-175,sans-serif;
}

* {
  box-sizing: border-box;
}

}

/* Images used */
#img1 { background-image: url("https://i.insider.com/5d66d21e6f24eb396b6c8192?width=1100&format=jpeg&auto=webp"); }
#img2 { background-image: url("https://i.kym-cdn.com/entries/icons/facebook/000/030/029/cover2.jpg"); }
#img3 { background-image: url("https://methodshop.com/wp-content/uploads/sadkeanu-helmet.jpg"); }
#img4 { background-image: url("https://uproxx.com/wp-content/uploads/2019/06/keanu-always-be-my-maybe.jpg?quality=100"); }
#img5 { background-image: url("https://i.kym-cdn.com/entries/icons/facebook/000/030/029/cover2.jpg"); }

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size: 80px;
  border: 10px solid #f1f1f1;
  position: absolute; /* Stay fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 300px;
  padding: 20px;
  text-align: center;
}
/* Container holding the image and the text */
.container {
  position: relative;
}
.bg-image{
  background-size: contain;
  object-fill: cover;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


</style>

<body>
  <a href='/other'>other</a>
  <div class="bg-image" id="img5">
    <div class="bg-text">News</div>
  </div>
  <div class="bg-image" id="img2">
    <div class="bg-text">Sports</div>
  </div>
  <div class="bg-image" id="img3">
    <div class="bg-text">University</div>
  </div>
  <div class="bg-image" id="img4">
    <div class="bg-text">WKND</div>
  </div>

</body>