<h1>Article 1: {{stories.WKND.0.title}}</h1>
<p>{{stories.WKND.0.blurb}}</p>

<img src="https://www.apicellabunton.com/wp-content/uploads/2018/09/Hero-1.jpg"
/>

<h1>Article 2: {{stories.WKND.1.title}}</h1>
<p>{{stories.WKND.1.blurb}}</p>
